/* スマホサイズ */
@media screen and (max-width: 576px) {
  /* font関連 */
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  
  h5 {
    font-size: 16px;
  }

  /* 全体 */
  section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  /* top-image */  
  #add-liver {
    /* right: 20px; スマホでのレスポンシブを右寄りにするため */
    bottom: 30px;
  }
  
  /* support */
  .support img{
    width: 100%;
    max-width: 150px;
  }
  .support {
    margin-bottom: 10px;
  }

  /* sns */
  .sns-icon img{
    max-width: 100px;
  }
  .add-friend img{
    height: 36px;
  }
  
  /* faq */
  .faq-items { /* box-content */
    padding: 3em 1em;
  }
  .faq-item {
    margin-bottom: 20px;
  }
  .q-text {
    padding-left: 0;
  }

  /* footer */ 

  /* box */
  .box {
    padding: 0 1em;
  }
  .box-items {
    padding: 2em 0;
  }

  

}

/* タブレットサイズ */
@media screen and (max-width: 670px) {
  .top-container {
  background-size: 100% 100%;
  } 
}
/* 小さいスマホ */
@media screen and (max-width: 450px) {
  /* font-size関連 */
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  h5 {
    font-size: 14px;
  }
  #add-liver p {
    font-size: 16px;
  }
  /* snsアイコン関連 */
  #add-liver img{
    max-width: 80px;
  }
  .sns-icon img{
    max-width: 80px;
  }
}

/* pc版 */
/* box内の上部に余白を作る */
@media screen and (min-width: 576px) {
  .box-top-margin {
    margin: 20px auto;
  }
}