/* スマホサイズ */
@media screen and (max-width: 576px) {
  /* top-image */  
  #add-liver p {
    font-size: 20px;
  }
  #add-liver {
    bottom: 30px;
  }
  /* support */
  .support img{
    width: 100%;
    max-width: 150px;
  }
  .support {
    margin-bottom: 10px;
  }
  /* sns */
  .sns-icon img{
    max-width: 100px;
  }
}

/* タブレットサイズ */
@media screen and (max-width: 670px) {
  .top-container {
  background-size: 100% 100%;
  } 
}