/* スマホサイズ */
@media screen and (max-width: 576px) {
  .support img{
    width: 100%;
    max-width: 150px;
  }
  .support {
    margin-bottom: 10px;
  }
}

/* タブレットサイズ */
@media screen and (max-width: 670px) {
  .top-container {
  background-image: url('../images/top_image.png');
  height: 80vh;
  background-size: 100% 100%;
  } 
}