/* 全体 */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 100%;
}
.centering { /* ブロック */
  margin: 0 auto;
}
.align-center { /* インライン */
  text-align: center;
}

h3 {
  margin: 60px auto 50px;
  padding: 0 10px;
  color: #fff;
  background-color: #000;
  display: table;
  text-align: center;
}

/* top-container */
.top-container {
  background-image: url('../images/top_image.png');
  height: 80vh;
  background-size: 100% 100%;
}

/* supports-container */
.support img{
  width: 100%;
  max-width: 216px;
}
.support {
  text-align: center;
}

/* sns-container */

.icon img{
  width: 100%;
  max-width: 150px;
}
.icon {
  text-align: center;
}

.bg-line {
  background-color: #07b53b;
  color: #fff;
}
.line {
  background-color: #fff;
  color: #07b53b;
}

/* FAQ-container */
h5 {
  color: #fff;
  background-color: #000;
  display: table;
  font-family: "Hiragino Mincho ProN";
}