/* 全体 */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Corben', cursive, "游ゴシック";
}
section {
  margin-top: 100px;
  margin-bottom: 50px;
}
.centering { /* ブロック */
  margin: 0 auto;
}
.align-center { /* インライン */
  text-align: center;
}

/* フォント関連 */
h3 { /* section-title */
  font-size: 45px;
  margin: 60px auto 50px;
  padding: 0 40px;
  color: #fff;
  background-color: #000;
  display: table;
  text-align: center;
  border-radius: 50px;
}
h5 { /* FAQ-title */
  color: #fff;
  background-color: #000;
  display: table;
  font-size: 24px;
  font-family: "Hiragino Mincho ProN";
}
p {
  font-size: 24px;
}
.fa-arrow-circle-right {
  margin-left: 5px;
}
/* top-container */
.top-container {
  background-image: url('../images/top_image.png');
  height: 100vw;
  width: 100vw;
  background-size: cover;
  position: relative;
}
#add-liver {
  position: fixed; /* absolute→fixed */
  right: 10vw;
  bottom: 10vh;
  z-index: 2; /* add_liverを固定で追加 */
}
#add-liver p {
  color: #fff;
  text-shadow:0 0 10px #000;
}
.add-liver p {
  margin: 0;
  font-weight: bold;
}

/* ハンバーガー */
header {
  height: 60px;
}
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  top: 9px;
  right : 13px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビが開いてる時 */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top: 0;
  right: 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}
nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}
nav.globalMenuSp.active {
  opacity: 100;
}

/* supports-container */
.support img{
  width: 100%;
  max-width: 216px;
}
.support {
  text-align: center;
}

/* sns-container */
.sns-icon img{
  width: 100%;
  max-width: 125px;
}
.sns-icon {
  text-align: center;
}

/* FAQ-container */
.faq-items {
  margin-bottom: 100px;
}
.faq-item {
  margin: 10px 10px 30px;
  cursor: pointer;
  border-bottom:1px solid #ccc;
}
.answer {
  display: none;
  padding: 5px 0px;
}
.answer p{
  margin-bottom: 0;
}

/* フェードイン系 */
.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms;
}
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}