/* 全体 */
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 100%;
}
section {
  margin-top: 100px;
  margin-bottom: 50px;
}
.centering { /* ブロック */
  margin: 0 auto;
}
.align-center { /* インライン */
  text-align: center;
}
h3 {
  margin: 60px auto 50px;
  padding: 0 10px;
  color: #fff;
  background-color: #000;
  display: table;
  text-align: center;
}

/* top-container */
.top-container {
  background-image: url('../images/top_image.png');
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
}
#add-liver {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
}
#add-liver p {
  -webkit-text-stroke: 1px #fff;
}
.add-liver p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  

}

/*** ハンバーガーメニュー ***/
/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top: 0;
  right: 0; /* left→right */
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 50%; /* 100%→50% */
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

nav.globalMenuSp.active {
  opacity: 100;
}
/* ハンバーガーメニューここまで */

/* supports-container */
.support img{
  width: 100%;
  max-width: 216px;
}
.support {
  text-align: center;
}

/* sns-container */
.sns-icon img{
  width: 100%;
  max-width: 125px;
}
.sns-icon {
  text-align: center;
}

.bg-line {
  background-color: #07b53b;
  color: #fff;
}


/* FAQ-container */
h5 {
  color: #fff;
  background-color: #000;
  display: table;
  font-family: "Hiragino Mincho ProN";
}
.faq-items {
  margin: 10px 10px 100px;
  cursor: pointer;
  border-bottom:1px solid #ccc;
}
.answer {
  display: none;
  padding: 5px 0px;
}

/* フェードイン系 */
.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms;
}
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}